*{
  font-size: 14pt;
}  
:root{
  --highlighted-border-radius: 3px;
  --primary-red-highlight: #fea6a4;
  --primary-green-highlight: #aded71;
  --primary-blue-highlight: #90d8f0;
  --primary-purple-highlight: plum;
  --primary-grey-highlight: #e8e8e8;
}

span{
  padding: 0 2px;
  margin: 0 -2px;
  background: transparent;
  border-radius: var(--highlighted-border-radius);
  box-sizing: border-box;
  position: relative;
}

.grey-list{
  background-color: var(--primary-grey-highlight);
}

.grey-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: 10px 0 0px 0px var(--primary-grey-highlight);
}

.grey-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-grey-highlight);
}

.grey-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-grey-highlight), 10px 0 0px 0px var(--primary-grey-highlight);
}

.purple-list{
  background-color: var(--primary-purple-highlight);
}

.purple-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: 10px 0 0px 0px var(--primary-purple-highlight);
}

.purple-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-purple-highlight);
}

.purple-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-purple-highlight), 10px 0 0px 0px var(--primary-purple-highlight);
}

.blue-list{
  background-color: var(--primary-blue-highlight);
}

.blue-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: 10px 0 0px 0px var(--primary-blue-highlight);
}

.blue-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-blue-highlight);
}

.blue-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-blue-highlight), 10px 0 0px 0px var(--primary-blue-highlight);
}

.green-list{
  background-color: var(--primary-green-highlight);
}

.green-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: 10px 0 0px 0px var(--primary-green-highlight);
}

.green-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-green-highlight);
}

.green-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-green-highlight), 10px 0 0px 0px var(--primary-green-highlight);
}

.red-list{
  background-color: var(--primary-red-highlight);
}

.red-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: 10px 0 0px 0px var(--primary-red-highlight);
}

.red-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-red-highlight);
}

.red-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-red-highlight), 10px 0 0px 0px var(--primary-red-highlight);
}
