*{
  font-size: 16pt;
}  
:root{
  --highlighted-border-radius: 4px;
  --primary-red-highlight: #fea6a4;
  --primary-red-hover: #a76f6f;
  --primary-green-highlight: #aded71;
  --primary-green-hover: #6d904d;
  --primary-blue-highlight: #90d8f0;
  --primary-blue-hover: #517683;
  --primary-purple-highlight: plum;
  --primary-purple-hover: rgb(150, 108, 150);
  --primary-grey-highlight: #e8e8e8;
  --primary-grey-hover: #7e7e7e;
  --grey-z-index: -5;
  --purple-z-index: -4;
  --blue-z-index: -3;
  --green-z-index: -2;
  --red-z-index: -1;
  --hover-box-shadow-thickness-left: -4px;
  --hover-box-shadow-thickness-right: 4px;
}

main div {
  margin: 5vw;
}
span {
  background: transparent;
  border-radius: var(--highlighted-border-radius);
  box-sizing: border-box;
  position: relative;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

.grey-list{
  background-color: var(--primary-grey-highlight);
}

.grey-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--grey-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-grey-highlight), 3px 0 0px 0px var(--primary-grey-highlight);
}


.grey-list-hover{
  color: white;
  background-color: var(--primary-grey-hover);
}

.grey-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--grey-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-grey-highlight), 6px 0 0px 0px var(--primary-grey-highlight);
}

.grey-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--purple-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: 3px 0 0px 0px var(--primary-grey-highlight), -6px 0 0px 0px var(--primary-grey-highlight);
}

.grey-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--grey-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-grey-highlight), 10px 0 0px 0px var(--primary-grey-highlight);
}
.grey-list-middle-hover:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--grey-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -5px 0 0px 0px var(--primary-grey-hover), 5px 0 0px 0px var(--primary-grey-hover);
}

.purple-list{
  background-color: var(--primary-purple-highlight);
}

.purple-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--purple-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-purple-highlight), 3px 0 0px 0px var(--primary-purple-highlight);
}

.purple-list-hover{
  color: white;
  background-color: var(--primary-purple-hover);
}

.purple-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--purple-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-purple-highlight), 6px 0 0px 0px var(--primary-purple-highlight);
}

.purple-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--purple-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: 3px 0 0px 0px var(--primary-purple-highlight), -6px 0 0px 0px var(--primary-purple-highlight);
}

.purple-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:var(--purple-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-purple-highlight), 10px 0 0px 0px var(--primary-purple-highlight);
}

.purple-list-middle-hover:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:var(--purple-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -5px 0 0px 0px var(--primary-purple-hover), 5px 0 0px 0px var(--primary-purple-hover);
}

.blue-list{
  background-color: var(--primary-blue-highlight);
}

.blue-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--blue-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-blue-highlight), 3px 0 0px 0px var(--primary-blue-highlight);
}


.blue-list-hover{
  color: white;
  background-color: var(--primary-blue-hover);
}

.blue-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--blue-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-blue-highlight), 6px 0 0px 0px var(--primary-blue-highlight);
}

.blue-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--blue-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -6px 0 0px 0px var(--primary-blue-highlight), 3px 0 0px 0px var(--primary-blue-highlight);
}

.blue-list-left-hover:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--blue-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: 10px 0 0px 0px var(--primary-blue-hover);
}

.blue-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--blue-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-blue-highlight), 10px 0 0px 0px var(--primary-blue-highlight);
}

.blue-list-middle-hover:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--blue-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -5px 0 0px 0px var(--primary-blue-hover), 5px 0 0px 0px var(--primary-blue-hover);
}

.green-list{
  background-color: var(--primary-green-highlight);
}

.green-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--green-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-green-highlight), 3px 0 0px 0px var(--primary-green-highlight);
}

.green-list-hover{
  color: white;
  background-color: var(--primary-green-hover);
  /* box-shadow: -10px 0 0px 0px var(--primary-green-hover), 10px 0 0px 0px var(--primary-green-hover); */
}

.green-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--green-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-green-highlight), 6px 0 0px 0px var(--primary-green-highlight);
}

.green-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--blue-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -6px 0 0px 0px var(--primary-green-highlight), 3px 0 0px 0px var(--primary-green-highlight);
}

.green-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--green-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-green-highlight), 10px 0 0px 0px var(--primary-green-highlight);
}

.green-list-middle-hover:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--green-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -5px 0 0px 0px var(--primary-green-hover), 5px 0 0px 0px var(--primary-green-hover);
}

.red-list{
  background-color: var(--primary-red-highlight);
}

.red-list:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--red-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-red-highlight), 3px 0 0px 0px var(--primary-red-highlight);
}

.red-list-hover{
  color: white;
  background-color: var(--primary-red-hover);
}

.red-list-left:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--red-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -3px 0 0px 0px var(--primary-red-highlight), 6px 0 0px 0px var(--primary-red-highlight);
}

.red-list-right:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--red-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -6px 0 0px 0px var(--primary-red-highlight), 3px 0 0px 0px var(--primary-red-highlight);
}

.red-list-middle:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--red-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -10px 0 0px 0px var(--primary-red-highlight), 10px 0 0px 0px var(--primary-red-highlight);
}

.red-list-middle-hover:before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--red-z-index);
  border-radius: var(--highlighted-border-radius);
  box-shadow: -5px 0 0px 0px var(--primary-red-hover), 5px 0 0px 0px var(--primary-red-hover);
}
